.App {
  	text-align: center;
}

.header {
	color: black;
	padding: 0;
}

.links {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

a {
	color: black;
	padding: 1rem;
	text-decoration: none;
}

a:hover {
	color: white;
	background-color: #BC4123;
}

svg {
	vertical-align: top;
}

body {
	background-color: #9E9E9E;
  	color: white;
}

.rpe-button {
	background-color: #BC4123;
	color: white;
}

.rpe-button-selected {
	background-color: #ffcba4;
	color: black;
}

.rpe-button-selected:hover {
	background-color: #ffcba4;
	color: black;
}

.rpe-button:hover {
	background-color: #ffcba4;
	color: black;
}

.rpe-button:active {
	background-color: #ffcba4;
	color: black;
}