svg {
	vertical-align: top;
}

body {
	background-color: #9E9E9E;
  	color: white;
}

.App {
	text-align: center;
}

.strength-nav-link {
	color: black;
	padding: 1rem;
	text-decoration: none;
}

.strength-nav-link:hover {
	color: white;
	background-color: #BC4123;
}

.header {
  color: black;
  padding: 0;
}

.links {
  text-align: right;
}

.strength-card {
	background-color: #484848;
	color: white;
	position: relative;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	backdrop-filter: blur(10px);
}

.rpe-button {
	background-color: #BC4123;
	color: white;
}

.rpe-button-selected {
	background-color: #ffcba4;
	color: black;
}

.rpe-button-selected:hover {
	background-color: #ffcba4;
	color: black;
}

.rpe-button:hover {
	background-color: #ffcba4;
	color: black;
}

.rpe-button:active {
	background-color: #ffcba4;
	color: black;
}